In [5]:
from binance.client import Client
import pandas as pd

In [6]:
def get_actual_data(
    symbol: str,
    time_frame: str = "5m",
    begin_date: str = "2023-10-01T00:00:00Z",
    end_date: str = "10 hours ago UTC",
) -> pd.DataFrame:
    client = Client()
    df = pd.DataFrame(client.get_historical_klines(symbol, time_frame, begin_date, end_date))

    df = df.iloc[:, 0:6]
    df.columns = ["Time", "Open", "High", "Low", "Close", "Volume"]
    df.set_index("Time", inplace=True)
    df.index = pd.to_datetime(df.index, unit="ms")
    df = df.astype(float)
    return df

In [9]:
interval = "5m"
symbol = "ETHUSDT"
begin_date = "2024-01-28T00:00:00Z"
end_date = "2024-01-29T00:10:00Z"

data = get_actual_data(symbol, time_frame=interval, begin_date = begin_date, end_date = end_date)

In [10]:
data

                        Open     High      Low    Close     Volume
Time
2024-01-28 00:00:00  2267.94  2267.94  2265.09  2266.34   858.7635
2024-01-28 00:05:00  2266.33  2266.77  2265.00  2265.86   635.8713
2024-01-28 00:10:00  2265.87  2267.91  2265.55  2267.51   675.3552
2024-01-28 00:15:00  2267.51  2268.58  2264.12  2264.68   936.8468
2024-01-28 00:20:00  2264.68  2266.94  2264.52  2264.83   548.6155
...                      ...      ...      ...      ...        ...
2024-01-28 23:50:00  2257.68  2258.64  2257.16  2257.80   428.4254
2024-01-28 23:55:00  2257.80  2257.81  2256.48  2256.90   321.2087
2024-01-29 00:00:00  2256.90  2257.96  2251.00  2251.94  2054.0944
2024-01-29 00:05:00  2251.95  2252.60  2250.57  2252.59   555.9924
2024-01-29 00:10:00  2252.60  2253.15  2250.77  2252.89   592.2832

[291 rows x 5 columns]

In [11]:
data.to_csv('data_eth_2024_01_28.csv')

In [7]:
temp_data = pd.read_csv("../data/data_eth_2018_2024.csv")

In [9]:
temp_data = temp_data.set_index("Time")

In [10]:
temp_data

                        Open     High      Low    Close      Volume
Time
2018-01-01 00:00:00   733.01   734.52   728.93   728.93   133.48778
2018-01-01 00:05:00   728.50   729.80   724.43   727.25   134.91765
2018-01-01 00:10:00   727.26   727.31   722.91   727.31   152.44187
2018-01-01 00:15:00   727.22   728.44   723.00   724.99   144.34597
2018-01-01 00:20:00   724.99   725.00   722.91   723.03   130.56056
...                      ...      ...      ...      ...         ...
2024-01-26 17:05:00  2279.86  2279.86  2275.00  2275.50  2430.78360
2024-01-26 17:10:00  2275.49  2276.69  2273.27  2273.68  2095.09570
2024-01-26 17:15:00  2273.69  2276.53  2271.82  2273.11  1503.65350
2024-01-26 17:20:00  2273.12  2274.31  2267.48  2268.66  1744.33120
2024-01-26 17:25:00  2268.66  2271.18  2267.06  2267.93  1032.95900

[636807 rows x 5 columns]

In [12]:
temp_data["Close"].shift(-2)

Time
2018-01-01 00:00:00     727.31
2018-01-01 00:05:00     724.99
2018-01-01 00:10:00     723.03
2018-01-01 00:15:00     725.51
2018-01-01 00:20:00     727.54
                        ...
2024-01-26 17:05:00    2273.11
2024-01-26 17:10:00    2268.66
2024-01-26 17:15:00    2267.93
2024-01-26 17:20:00        NaN
2024-01-26 17:25:00        NaN
Name: Close, Length: 636807, dtype: float64